<%= content_for :page_head do %>
  <hgroup class="page-head">
	<h2>About <span>PUSHMEDIC</span></h2>
	<h5>We are an integrated IT solution company, located in Bandung - Indonesia, which delivers services in software development, IT infrastructure, creative strategy and digital marketing. We are consists of creative talents which already experienced in developing enterprise application and also providing consultation in the area of IT services and digital marketing to several big corporate in Indonesia.</h5>
	<br />
	<h5>Our specialties are software development, web design, android app development, IOS app development, UI + UX design, IT infrastructure, and digital marketing. With those specialties, we hope to give our customers to succeed over their competition.</h5>
  </hgroup>
<% end %>

<div id="content" class="full-width">

  <h3>Here the reason why you must Pushjaw</h3>
  <div class="accordion">
	<h5 class="current"><span></span>1. Latest Technology</h5>
	<div class="pane current">
	  By using the latest technology, you are getting the best possible results when it comes to your website design, and by adhering to industry standards we ensure your site will work everywhere, on anything.
	</div>
	<h5 class=""><span></span>2. Professional Team</h5>
	<div class="pane ">
	  We have professional, hard-working and high skilled team. Our team always brings innovative ideas to give excellent results to all clients globally
	</div>
	<h5 class=""><span></span>3. Reliable Support</h5>
	<div class="pane ">
	  we’re well suited to provide reliable, quality support to clients of all types. We have a firm belief in being part of our clients’ teams and we’re prepared to go above and beyond to do it.
	</div>
  </div>

  <h3>PUSHJAWER's</h3>
  <blockquote>
	<p>A Rock development teams.</p>
  </blockquote>

</div>