<%= content_for :slider do %>
  <div id="slider-wrap">
	<div class="flexslider">
	  <ul class="slides">
		<li>
		  <a href="#" title="Qualified Doctors"  class="img-hover" ><img src="/assets/products/charts.png" alt="Slider Image"></a>
		</li>
		<li>
		  <a href="#" title="Clinical Excellence"  class="img-hover" ><img src="/assets/products/services.png" alt="Slider Image"></a>
		</li>
		<li>
		  <a href="#" title="Dental Treatment"  class="img-hover" ><img src="/assets/products/pharmacy.png" alt="Slider Image"></a>
		</li>
		<li>
		  <a href="#" title="Caring Staff"  class="img-hover" ><img src="/assets/products/accounting.png" alt="Slider Image"></a>
		</li>
		<li>
		  <a href="#" title="Medical Counseling"  class="img-hover" ><img src="/assets/products/report.png" alt="Slider Image"></a>
		</li>
	  </ul>
	  <ul class="slide-nav slides-5">
		<li>
		  <h4>Charts</h4>
		  <p>Team of Expert Doctors</p>
		</li>
		<li>
		  <h4>Services</h4>
		  <p>Expert in Clinical Work</p>
		</li>
		<li>
		  <h4>Pharmacy</h4>
		  <p>Specialized in Dental Care</p>
		</li>
		<li>
		  <h4>Accounting</h4>
		  <p>Caring Staff</p>
		</li>
		<li>
		  <h4>Report</h4>
		  <p>Discuss Your Health</p>
		</li>
	  </ul><!-- end of slider nav -->
	</div>
  </div>
<% end %>
